<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Atrinity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E17391CF1DD9C15100A3FF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E17391E81DD9C15100A3FF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E17391F31DD9C15100A3FF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
